# Movie Recommendation System using K-nearest neighbors Model 
## 1. Data Download and Inspection

### 1.1 Import modules

In [1]:
import json 
import pandas as pd

### 1.2 Data download

In [2]:
movies = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
credits = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv")

### 1.3 Data inspection

In [3]:
movies.head().T

,0,1,2,3,4
budget,237000000,300000000,245000000,250000000,260000000
genres,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
homepage,http://www.avatarmovie.com/,http://disney.go.com/disneypictures/pirates/,http://www.sonypictures.com/movies/spectre/,http://www.thedarkknightrises.com/,http://movies.disney.com/john-carter
id,19995,285,206647,49026,49529
keywords,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."
original_language,en,en,en,en,en
original_title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter
overview,"In the 22nd century, a paraplegic Marine is di...","Captain Barbossa, long believed to be dead, ha...",A cryptic message from Bond’s past sends him o...,Following the death of District Attorney Harve...,"John Carter is a war-weary, former military ca..."
popularity,150.437577,139.082615,107.376788,112.31295,43.926995
production_companies,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]"
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,2009-12-10,2007-05-19,2015-10-26,2012-07-16,2012-03-07
revenue,2787965087,961000000,880674609,1084939099,284139100
runtime,162.0,169.0,148.0,165.0,132.0
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]"
status,Released,Released,Released,Released,Released
tagline,Enter the World of Pandora.,"At the end of the world, the adventure begins.",A Plan No One Escapes,The Legend Ends,"Lost in our world, found in another."
title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter
vote_average,7.2,6.9,6.3,7.6,6.1
vote_count,11800,4500,4466,9106,2124

In [4]:
credits.head().T

,0,1,2,3,4
movie_id,19995,285,206647,49026,49529
title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter
cast,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."
crew,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

- 'Id' from movies df and 'movie_id' from credits df are same, confirming matching data movies in each row! Both dataframes can be joined together for further processing!

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

- Some missing data in columns: homepage, overview, release_date, runtime, tagline
- Mix of both numerical and categorical features in the dataframe!

In [6]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

- No missing data!

### 1.4 Join two dataframes

In [7]:
credits.rename({"movie_id": "id"}, axis=1, inplace=True) #renaming the column so we can merge the two datasets 
credits.head().T

,0,1,2,3,4
id,19995,285,206647,49026,49529
title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter
cast,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."
crew,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
data_df = pd.merge(movies, credits, on='id', how='outer')
data_df.head().T

,0,1,2,3,4
budget,4000000,11000000,94000000,55000000,15000000
genres,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 18, ""name"": ""Drama""}]"
homepage,NaN,http://www.starwars.com/films/star-wars-episod...,http://movies.disney.com/finding-nemo,NaN,http://www.dreamworks.com/ab/
id,5,11,12,13,14
keywords,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...","[{""id"": 803, ""name"": ""android""}, {""id"": 4270, ...","[{""id"": 494, ""name"": ""father son relationship""...","[{""id"": 422, ""name"": ""vietnam veteran""}, {""id""...","[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29..."
original_language,en,en,en,en,en
original_title,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty
overview,It's Ted the Bellhop's first night on the job....,Princess Leia is captured and held hostage by ...,"Nemo, an adventurous young clownfish, is unexp...",A man with a low IQ has accomplished great thi...,"Lester Burnham, a depressed suburban father in..."
popularity,22.87623,126.393695,85.688789,138.133331,80.878605
production_companies,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""..."
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,1995-12-09,1977-05-25,2003-05-30,1994-07-06,1999-09-15
revenue,4300000,775398007,940335536,677945399,356296601
runtime,98.0,121.0,100.0,142.0,122.0
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]"
status,Released,Released,Released,Released,Released
tagline,Twelve outrageous guests. Four scandalous requ...,"A long time ago in a galaxy far, far away...","There are 3.7 trillion fish in the ocean, they...","The world will never be the same, once you've ...",Look closer.
title_x,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty
vote_average,6.5,8.1,7.6,8.2,7.9
vote_count,530,6624,6122,7927,3313
title_y,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty
cast,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""cast_id"": 3, ""character"": ""Luke Skywalker"",...","[{""cast_id"": 8, ""character"": ""Marlin (voice)"",...","[{""cast_id"": 7, ""character"": ""Forrest Gump"", ""...","[{""cast_id"": 6, ""character"": ""Lester Burnham"",..."
crew,"[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de...","[{""credit_id"": ""52fe420dc3a36847f8000437"", ""de...","[{""credit_id"": ""52fe420ec3a36847f80006b1"", ""de...","[{""credit_id"": ""52fe420ec3a36847f800076b"", ""de...","[{""credit_id"": ""52fe420ec3a36847f8000809"", ""de..."

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 863.2+ KB

- Merge worked but with 3 features referring to 'movie title' 
- cleanup the movie title issue from the data frame!

In [10]:
data_df.drop(['title_x', 'title_y'], axis=1, inplace=True)

In [11]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  vote_average          4803 non-null   float64
 18  vote_count            4803 non-null   int64
 19  cast                  4803 non-null   object
 20  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 788.1+ KB

In [12]:
data_df.rename({"original_title": "title"}, axis=1, inplace=True)

In [13]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   title                 4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  vote_average          4803 non-null   float64
 18  vote_count            4803 non-null   int64
 19  cast                  4803 non-null   object
 20  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 788.1+ KB

In [14]:
data_df['cast']

0       [{"cast_id": 42, "character": "Ted the Bellhop...
1       [{"cast_id": 3, "character": "Luke Skywalker",...
2       [{"cast_id": 8, "character": "Marlin (voice)",...
3       [{"cast_id": 7, "character": "Forrest Gump", "...
4       [{"cast_id": 6, "character": "Lester Burnham",...
                              ...
4798    [{"cast_id": 1, "character": "Dawn", "credit_i...
4799    [{"cast_id": 4, "character": "Smith Bhatnagar"...
4800    [{"cast_id": 3, "character": "Amber", "credit_...
4801                                                   []
4802    [{"cast_id": 0, "character": "Narrator", "cred...
Name: cast, Length: 4803, dtype: object

In [15]:
data_df['keywords']

0       [{"id": 612, "name": "hotel"}, {"id": 613, "na...
1       [{"id": 803, "name": "android"}, {"id": 4270, ...
2       [{"id": 494, "name": "father son relationship"...
3       [{"id": 422, "name": "vietnam veteran"}, {"id"...
4       [{"id": 255, "name": "male nudity"}, {"id": 29...
                              ...
4798                                                   []
4799                                                   []
4800    [{"id": 10060, "name": "christian film"}, {"id...
4801                                                   []
4802    [{"id": 6027, "name": "music"}, {"id": 225822,...
Name: keywords, Length: 4803, dtype: object

In [16]:
data_df['genres']

0       [{"id": 80, "name": "Crime"}, {"id": 35, "name...
1       [{"id": 12, "name": "Adventure"}, {"id": 28, "...
2       [{"id": 16, "name": "Animation"}, {"id": 10751...
3       [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4                           [{"id": 18, "name": "Drama"}]
                              ...
4798                       [{"id": 27, "name": "Horror"}]
4799    [{"id": 35, "name": "Comedy"}, {"id": 10751, "...
4800    [{"id": 53, "name": "Thriller"}, {"id": 18, "n...
4801                    [{"id": 10751, "name": "Family"}]
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

## 2. EDA

In [28]:
encoded_data_df= data_df.copy()
encoded_data_df.head().T

,0,1,2,3,4
budget,4000000,11000000,94000000,55000000,15000000
genres,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 18, ""name"": ""Drama""}]"
homepage,NaN,http://www.starwars.com/films/star-wars-episod...,http://movies.disney.com/finding-nemo,NaN,http://www.dreamworks.com/ab/
id,5,11,12,13,14
keywords,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...","[{""id"": 803, ""name"": ""android""}, {""id"": 4270, ...","[{""id"": 494, ""name"": ""father son relationship""...","[{""id"": 422, ""name"": ""vietnam veteran""}, {""id""...","[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29..."
original_language,en,en,en,en,en
title,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty
overview,It's Ted the Bellhop's first night on the job....,Princess Leia is captured and held hostage by ...,"Nemo, an adventurous young clownfish, is unexp...",A man with a low IQ has accomplished great thi...,"Lester Burnham, a depressed suburban father in..."
popularity,22.87623,126.393695,85.688789,138.133331,80.878605
production_companies,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""..."
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,1995-12-09,1977-05-25,2003-05-30,1994-07-06,1999-09-15
revenue,4300000,775398007,940335536,677945399,356296601
runtime,98.0,121.0,100.0,142.0,122.0
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]"
status,Released,Released,Released,Released,Released
tagline,Twelve outrageous guests. Four scandalous requ...,"A long time ago in a galaxy far, far away...","There are 3.7 trillion fish in the ocean, they...","The world will never be the same, once you've ...",Look closer.
vote_average,6.5,8.1,7.6,8.2,7.9
vote_count,530,6624,6122,7927,3313
cast,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""cast_id"": 3, ""character"": ""Luke Skywalker"",...","[{""cast_id"": 8, ""character"": ""Marlin (voice)"",...","[{""cast_id"": 7, ""character"": ""Forrest Gump"", ""...","[{""cast_id"": 6, ""character"": ""Lester Burnham"",..."
crew,"[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de...","[{""credit_id"": ""52fe420dc3a36847f8000437"", ""de...","[{""credit_id"": ""52fe420ec3a36847f80006b1"", ""de...","[{""credit_id"": ""52fe420ec3a36847f800076b"", ""de...","[{""credit_id"": ""52fe420ec3a36847f8000809"", ""de..."

### 2.1 Feature Encoding 
#### 2.1.1 Cleanup JSON formatted data

In [29]:
encoded_data_df['cast'][0]

'[{"cast_id": 42, "character": "Ted the Bellhop", "credit_id": "52fe420dc3a36847f80001b7", "gender": 2, "id": 3129, "name": "Tim Roth", "order": 0}, {"cast_id": 31, "character": "Man", "credit_id": "52fe420dc3a36847f800018b", "gender": 2, "id": 3131, "name": "Antonio Banderas", "order": 1}, {"cast_id": 29, "character": "Angela", "credit_id": "52fe420dc3a36847f8000183", "gender": 1, "id": 3130, "name": "Jennifer Beals", "order": 2}, {"cast_id": 25, "character": "Elspeth", "credit_id": "52fe420dc3a36847f8000173", "gender": 1, "id": 3125, "name": "Madonna", "order": 3}, {"cast_id": 41, "character": "Margaret", "credit_id": "52fe420dc3a36847f80001b3", "gender": 1, "id": 3141, "name": "Marisa Tomei", "order": 4}, {"cast_id": 43, "character": "Leo", "credit_id": "52fe420dc3a36847f80001bb", "gender": 2, "id": 62, "name": "Bruce Willis", "order": 5}, {"cast_id": 38, "character": "Chester Rush", "credit_id": "52fe420dc3a36847f80001a7", "gender": 2, "id": 138, "name": "Quentin Tarantino", "order": 6}, {"cast_id": 22, "character": "Jezebel", "credit_id": "52fe420dc3a36847f8000167", "gender": 1, "id": 3122, "name": "Sammi Davis", "order": 7}, {"cast_id": 23, "character": "Diana", "credit_id": "52fe420dc3a36847f800016b", "gender": 1, "id": 3123, "name": "Amanda de Cadenet", "order": 8}, {"cast_id": 24, "character": "Athena", "credit_id": "52fe420dc3a36847f800016f", "gender": 1, "id": 3124, "name": "Valeria Golino", "order": 9}, {"cast_id": 27, "character": "Raven", "credit_id": "52fe420dc3a36847f800017b", "gender": 1, "id": 3127, "name": "Lili Taylor", "order": 10}, {"cast_id": 39, "character": "Long Hair Yuppy Scum", "credit_id": "52fe420dc3a36847f80001ab", "gender": 2, "id": 2545, "name": "Lawrence Bender", "order": 11}, {"cast_id": 26, "character": "Eva", "credit_id": "52fe420dc3a36847f8000177", "gender": 1, "id": 3126, "name": "Ione Skye", "order": 12}, {"cast_id": 28, "character": "Kiva", "credit_id": "52fe420dc3a36847f800017f", "gender": 1, "id": 3128, "name": "Alicia Witt", "order": 13}, {"cast_id": 30, "character": "Siegfried", "credit_id": "52fe420dc3a36847f8000187", "gender": 2, "id": 2555, "name": "David Proval", "order": 14}, {"cast_id": 32, "character": "Sarah", "credit_id": "52fe420dc3a36847f800018f", "gender": 1, "id": 3132, "name": "Lana McKissack", "order": 15}, {"cast_id": 34, "character": "Wife", "credit_id": "52fe420dc3a36847f8000197", "gender": 1, "id": 3134, "name": "Tamlyn Tomita", "order": 16}, {"cast_id": 40, "character": "Betty", "credit_id": "52fe420dc3a36847f80001af", "gender": 1, "id": 3138, "name": "Kathy Griffin", "order": 17}, {"cast_id": 37, "character": "Norman", "credit_id": "52fe420dc3a36847f80001a3", "gender": 2, "id": 3137, "name": "Paul Calderon", "order": 18}, {"cast_id": 36, "character": "TV Dancing Girl", "credit_id": "52fe420dc3a36847f800019f", "gender": 1, "id": 3136, "name": "Salma Hayek", "order": 19}, {"cast_id": 33, "character": "Corpse", "credit_id": "52fe420dc3a36847f8000193", "gender": 1, "id": 3133, "name": "Patricia Vonne", "order": 20}, {"cast_id": 35, "character": "Juancho", "credit_id": "52fe420dc3a36847f800019b", "gender": 0, "id": 3135, "name": "Danny Verduzco", "order": 21}, {"cast_id": 44, "character": "Hooker", "credit_id": "52fe420dc3a36847f80001bf", "gender": 0, "id": 37336, "name": "Kimberly Blair", "order": 22}, {"cast_id": 45, "character": "Sam the Bellhop", "credit_id": "52fe420dc3a36847f80001c3", "gender": 2, "id": 3140, "name": "Marc Lawrence", "order": 23}]'

In [30]:
encoded_data_df['cast']=data_df['cast'].apply(lambda x: [item['name'] for item in json.loads(x)][:3] if pd.notna(x) else None)
encoded_data_df['cast'][0]

['Tim Roth', 'Antonio Banderas', 'Jennifer Beals']

In [31]:
encoded_data_df.T

,0,1,2,3,4,5,6,7,8,9,...,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802
budget,4000000,11000000,94000000,55000000,15000000,12800000,90000000,92620000,0,140000000,...,0,0,0,200,130000000,0,0,0,0,2
genres,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",...,"[{""id"": 27, ""name"": ""Horror""}]","[{""id"": 27, ""name"": ""Horror""}]","[{""id"": 36, ""name"": ""History""}, {""id"": 18, ""na...","[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 27, ""name"": ""Horror""}]","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10751, ""...","[{""id"": 53, ""name"": ""Thriller""}, {""id"": 18, ""n...","[{""id"": 10751, ""name"": ""Family""}]","[{""id"": 99, ""name"": ""Documentary""}]"
homepage,NaN,http://www.starwars.com/films/star-wars-episod...,http://movies.disney.com/finding-nemo,NaN,http://www.dreamworks.com/ab/,NaN,NaN,NaN,http://www.clubcultura.com/clubcine/clubcineas...,http://disney.go.com/disneyvideos/liveaction/p...,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.growingupsmithmovie.com,NaN,NaN,NaN
id,5,11,12,13,14,16,18,19,20,22,...,396152,402515,407887,408429,417859,426067,426469,433715,447027,459488
keywords,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...","[{""id"": 803, ""name"": ""android""}, {""id"": 4270, ...","[{""id"": 494, ""name"": ""father son relationship""...","[{""id"": 422, ""name"": ""vietnam veteran""}, {""id""...","[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...","[{""id"": 30, ""name"": ""individual""}, {""id"": 246,...","[{""id"": 402, ""name"": ""clone""}, {""id"": 444, ""na...","[{""id"": 312, ""name"": ""man vs machine""}, {""id"":...","[{""id"": 455, ""name"": ""farewell""}, {""id"": 457, ...","[{""id"": 911, ""name"": ""exotic island""}, {""id"": ...",...,[],"[{""id"": 321, ""name"": ""terror""}, {""id"": 8087, ""...","[{""id"": 10586, ""name"": ""korea""}, {""id"": 229851...",[],"[{""id"": 4414, ""name"": ""adventure""}, {""id"": 618...",[],[],"[{""id"": 10060, ""name"": ""christian film""}, {""id...",[],"[{""id"": 6027, ""name"": ""music""}, {""id"": 225822,..."
original_language,en,en,en,en,en,en,en,de,en,en,...,en,pt,ko,en,en,en,en,en,en,en
title,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty,Dancer in the Dark,The Fifth Element,Metropolis,My Life Without Me,Pirates of the Caribbean: The Curse of the Bla...,...,Restoration,Solitude,인천상륙작전,Perfect Cowboy,Puss in Boots,Midnight Cabaret,Growing Up Smith,8 Days,Running Forever,"To Be Frank, Sinatra at 100"
overview,It's Ted the Bellhop's first night on the job....,Princess Leia is captured and held hostage by ...,"Nemo, an adventurous young clownfish, is unexp...",A man with a low IQ has accomplished great thi...,"Lester Burnham, a depressed suburban father in...","Selma, a Czech immigrant on the verge of blind...","In 2257, a taxi driver is unintentionally give...",In a futuristic city sharply divided between t...,A Pedro Almodovar production in which a fatall...,"Jack Sparrow, a freewheeling 17th-century pira...",...,"During home renovations, a young couple releas...",After finding an old storage locker filled wit...,A squad of soldiers fight in the Korean War's ...,Two gay fathers of a straight country western ...,"Long before he even met Shrek, the notorious f...",A Broadway producer puts on a play with a Devi...,"In 1979, an Indian family moves to America wit...","After sneaking to a party with her friends, 16...",After being estranged since her mother's death...,NaN
popularity,22.87623,126.393695,85.688789,138.133331,80.878605,22.022228,109.528572,32.351527,7.958831,271.972889,...,2.525569,0.018716,6.116436,0.050978,20.678787,0.001389,0.71087,0.015295,0.028756,0.050625
production_companies,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""name"": ""Fine Line Features"", ""id"": 8}, {""na...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""name"": ""El Deseo"", ""id"": 49}, {""name"": ""Mil...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,[],"[{""name"": ""Gravitas Ventures"", ""id"": 44632}]","[{""name"": ""Taewon Entertainment"", ""id"": 3965}]",[],"[{""name"": ""DreamWorks"", ""id"": 7}]",[],[],"[{""name"": ""After Eden Pictures"", ""id"": 85248}]","[{""name"": ""New Kingdom Pictures"", ""id"": 41671}]","[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]"
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""AR"", ""name"": ""Argentina""}, {""...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}]","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}]","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",[],[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]"
release_date,1995-12-09,1977-05-25,2003-05-30,1994-07-06,1999-09-15,2000-05-17,1997-05-07,1927-01-10,2003-03-07,2003-07-09,...,2016-05-03,2014-10-21,2016-07-27,2014-07-13,2011-10-28,1990-01-01,2017-02-03,2014-06-15,2015-10-27,2015-12-12
revenue,4300000,775398007,940335536,677945399,356296601,40031879,263920180,650422,9726954,655011224,...,0,0,0,0,554987477,0,0,0,0,0
runtime,98.0,121.0,100.0,142.0,122.0,140.0,126.0,153.0,106.0,143.0,...,90.0,89.0,110.0,109.0,90.0,94.0,102.0,90.0,88.0,NaN
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""xx"", ""name"": ""No Language""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",[],[]
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,Twelve outrageous guests. Four scandalous requ...,"A long time ago in a galaxy far, far away...","There are 3.7 trillion fish in the ocean, they...","The world will never be the same, once you've ...",Look closer.,You don't need eyes to see.,There is no future without it.,There can be no understanding between the hand...,NaN,Prepare to be blown out of the water.,...,NaN,NaN,The Odds Were 5000 to 1 … One was all They Nee...,NaN,Live for danger. Fight for justice. Pray for m...,The hot spot where Satan's waitin'.,It’s better to stand out than to fit in.,She never knew it could happen to her...,NaN,NaN
vote_average,6.5,8.1,7.6,8.2,7.9,7.6,7.3,8.0,7.2,7.5,...,5.3,0.0,5.8,5.0,6.4,0.0,7.4,0.0,0.0,0.0
vote_count,530,6624,6122,7927,3313,377,3885,657,77,6985,...,11,0,29,1,451,0,7,0,0,0
cast,"[Tim Roth, Antonio Banderas, Jennifer Beals]","[Mark Hamill, Harrison Ford, Carrie Fisher]","[Albert Brooks, Ellen DeGeneres, Alexander Gould]","[Tom Hanks, Robin Wright, Gary Sinise]","[Kevin Spacey, Annette Bening, Thora Birch]","[Björk, Catherine Deneuve, David Morse]","[Bruce Willis, Gary Oldman, Ian Holm]","[Brigitte Helm, Alfred Abel, Gustav Fröhlich]","[Sarah Polley, Amanda Plummer, Scott Speedman]","[Johnny Depp, Geoffrey Rush, Orlando Bloom]",...,"[Emily Roya O'Brien, Adrian Gaeta, Zack Ward]","[Armin Habibovich, Victoria Lachelle, Livingst...","[Lee Jung-jae, Liam Neeson, Lee Beom-soo]","[Ken Roht, Jeffrey Watkins, William Nicol]","[Antonio Banderas, Salma Hayek, Zach Galifiana...","[Lisa Hart Carroll, Michael Des Barres, Paul D...","[Roni Akurati, Brighton Sharbino, Jason Lee]","[Nicole Smolen, Kim Baldwin, Ariana Stephens]",[],[Tony Oppedisano]
crew,"[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de...","[{""credit_id"": ""52fe420dc3a36847f8000437"", ""de...","[{""credit_id"": ""52fe420ec3a36847f80006b1"", ""de...","[{""credit_id"": ""52fe420ec3a36847f800076b"", ""de...","[{""credit_id"": ""52fe420ec3a36847f8000809"", ""de...","[{""credit_id"": ""52fe420ec3a36847f8000981"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000c09"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000c55"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000d1d"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000f11"", ""de...",...,"[{""credit_id"": ""572bd470c3a368013d0002b1"", ""de...","[{""credit_id"": ""57edab3b9251416cd600077f"", ""de...","[{""credit_id"": ""5843fb6fc3a3684813007fb4"", ""de...","[{""credit_id"": ""57d568c49251415c1b001ba2"", ""de...","[{""credit_id"": ""5961020d9251410a590bd228"", ""de...","[{""credit_id"": ""582a4cdb9251417b1803dd47"", ""de...","[{""credit_id"": ""582e0bdfc3a368772600b6c1"", ""de...","[{""credit_id"": ""58713acfc3a3684f0a00a9ac"", ""de...",[],"[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de..."

In [32]:
encoded_data_df['genres'][0]

'[{"id": 80, "name": "Crime"}, {"id": 35, "name": "Comedy"}]'

In [33]:
encoded_data_df['genres']=data_df['genres'].apply( lambda x: [item['name'] for item in json.loads(x)][:3] if pd.notna(x) else None)
encoded_data_df['genres'][0]

['Crime', 'Comedy']

In [35]:
encoded_data_df.T

,0,1,2,3,4,5,6,7,8,9,...,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802
budget,4000000,11000000,94000000,55000000,15000000,12800000,90000000,92620000,0,140000000,...,0,0,0,200,130000000,0,0,0,0,2
genres,"[Crime, Comedy]","[Adventure, Action, Science Fiction]","[Animation, Family]","[Comedy, Drama, Romance]",[Drama],"[Drama, Crime, Music]","[Adventure, Fantasy, Action]","[Drama, Science Fiction]","[Drama, Romance]","[Adventure, Fantasy, Action]",...,[Horror],[Horror],"[History, Drama, War]",[Drama],"[Action, Adventure, Animation]",[Horror],"[Comedy, Family, Drama]","[Thriller, Drama]",[Family],[Documentary]
homepage,NaN,http://www.starwars.com/films/star-wars-episod...,http://movies.disney.com/finding-nemo,NaN,http://www.dreamworks.com/ab/,NaN,NaN,NaN,http://www.clubcultura.com/clubcine/clubcineas...,http://disney.go.com/disneyvideos/liveaction/p...,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.growingupsmithmovie.com,NaN,NaN,NaN
id,5,11,12,13,14,16,18,19,20,22,...,396152,402515,407887,408429,417859,426067,426469,433715,447027,459488
keywords,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...","[{""id"": 803, ""name"": ""android""}, {""id"": 4270, ...","[{""id"": 494, ""name"": ""father son relationship""...","[{""id"": 422, ""name"": ""vietnam veteran""}, {""id""...","[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...","[{""id"": 30, ""name"": ""individual""}, {""id"": 246,...","[{""id"": 402, ""name"": ""clone""}, {""id"": 444, ""na...","[{""id"": 312, ""name"": ""man vs machine""}, {""id"":...","[{""id"": 455, ""name"": ""farewell""}, {""id"": 457, ...","[{""id"": 911, ""name"": ""exotic island""}, {""id"": ...",...,[],"[{""id"": 321, ""name"": ""terror""}, {""id"": 8087, ""...","[{""id"": 10586, ""name"": ""korea""}, {""id"": 229851...",[],"[{""id"": 4414, ""name"": ""adventure""}, {""id"": 618...",[],[],"[{""id"": 10060, ""name"": ""christian film""}, {""id...",[],"[{""id"": 6027, ""name"": ""music""}, {""id"": 225822,..."
original_language,en,en,en,en,en,en,en,de,en,en,...,en,pt,ko,en,en,en,en,en,en,en
title,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty,Dancer in the Dark,The Fifth Element,Metropolis,My Life Without Me,Pirates of the Caribbean: The Curse of the Bla...,...,Restoration,Solitude,인천상륙작전,Perfect Cowboy,Puss in Boots,Midnight Cabaret,Growing Up Smith,8 Days,Running Forever,"To Be Frank, Sinatra at 100"
overview,It's Ted the Bellhop's first night on the job....,Princess Leia is captured and held hostage by ...,"Nemo, an adventurous young clownfish, is unexp...",A man with a low IQ has accomplished great thi...,"Lester Burnham, a depressed suburban father in...","Selma, a Czech immigrant on the verge of blind...","In 2257, a taxi driver is unintentionally give...",In a futuristic city sharply divided between t...,A Pedro Almodovar production in which a fatall...,"Jack Sparrow, a freewheeling 17th-century pira...",...,"During home renovations, a young couple releas...",After finding an old storage locker filled wit...,A squad of soldiers fight in the Korean War's ...,Two gay fathers of a straight country western ...,"Long before he even met Shrek, the notorious f...",A Broadway producer puts on a play with a Devi...,"In 1979, an Indian family moves to America wit...","After sneaking to a party with her friends, 16...",After being estranged since her mother's death...,NaN
popularity,22.87623,126.393695,85.688789,138.133331,80.878605,22.022228,109.528572,32.351527,7.958831,271.972889,...,2.525569,0.018716,6.116436,0.050978,20.678787,0.001389,0.71087,0.015295,0.028756,0.050625
production_companies,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""name"": ""Fine Line Features"", ""id"": 8}, {""na...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""name"": ""El Deseo"", ""id"": 49}, {""name"": ""Mil...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,[],"[{""name"": ""Gravitas Ventures"", ""id"": 44632}]","[{""name"": ""Taewon Entertainment"", ""id"": 3965}]",[],"[{""name"": ""DreamWorks"", ""id"": 7}]",[],[],"[{""name"": ""After Eden Pictures"", ""id"": 85248}]","[{""name"": ""New Kingdom Pictures"", ""id"": 41671}]","[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]"
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""AR"", ""name"": ""Argentina""}, {""...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}]","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}]","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",[],[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]"
release_date,1995-12-09,1977-05-25,2003-05-30,1994-07-06,1999-09-15,2000-05-17,1997-05-07,1927-01-10,2003-03-07,2003-07-09,...,2016-05-03,2014-10-21,2016-07-27,2014-07-13,2011-10-28,1990-01-01,2017-02-03,2014-06-15,2015-10-27,2015-12-12
revenue,4300000,775398007,940335536,677945399,356296601,40031879,263920180,650422,9726954,655011224,...,0,0,0,0,554987477,0,0,0,0,0
runtime,98.0,121.0,100.0,142.0,122.0,140.0,126.0,153.0,106.0,143.0,...,90.0,89.0,110.0,109.0,90.0,94.0,102.0,90.0,88.0,NaN
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""xx"", ""name"": ""No Language""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",[],[]
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,Twelve outrageous guests. Four scandalous requ...,"A long time ago in a galaxy far, far away...","There are 3.7 trillion fish in the ocean, they...","The world will never be the same, once you've ...",Look closer.,You don't need eyes to see.,There is no future without it.,There can be no understanding between the hand...,NaN,Prepare to be blown out of the water.,...,NaN,NaN,The Odds Were 5000 to 1 … One was all They Nee...,NaN,Live for danger. Fight for justice. Pray for m...,The hot spot where Satan's waitin'.,It’s better to stand out than to fit in.,She never knew it could happen to her...,NaN,NaN
vote_average,6.5,8.1,7.6,8.2,7.9,7.6,7.3,8.0,7.2,7.5,...,5.3,0.0,5.8,5.0,6.4,0.0,7.4,0.0,0.0,0.0
vote_count,530,6624,6122,7927,3313,377,3885,657,77,6985,...,11,0,29,1,451,0,7,0,0,0
cast,"[Tim Roth, Antonio Banderas, Jennifer Beals]","[Mark Hamill, Harrison Ford, Carrie Fisher]","[Albert Brooks, Ellen DeGeneres, Alexander Gould]","[Tom Hanks, Robin Wright, Gary Sinise]","[Kevin Spacey, Annette Bening, Thora Birch]","[Björk, Catherine Deneuve, David Morse]","[Bruce Willis, Gary Oldman, Ian Holm]","[Brigitte Helm, Alfred Abel, Gustav Fröhlich]","[Sarah Polley, Amanda Plummer, Scott Speedman]","[Johnny Depp, Geoffrey Rush, Orlando Bloom]",...,"[Emily Roya O'Brien, Adrian Gaeta, Zack Ward]","[Armin Habibovich, Victoria Lachelle, Livingst...","[Lee Jung-jae, Liam Neeson, Lee Beom-soo]","[Ken Roht, Jeffrey Watkins, William Nicol]","[Antonio Banderas, Salma Hayek, Zach Galifiana...","[Lisa Hart Carroll, Michael Des Barres, Paul D...","[Roni Akurati, Brighton Sharbino, Jason Lee]","[Nicole Smolen, Kim Baldwin, Ariana Stephens]",[],[Tony Oppedisano]
crew,"[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de...","[{""credit_id"": ""52fe420dc3a36847f8000437"", ""de...","[{""credit_id"": ""52fe420ec3a36847f80006b1"", ""de...","[{""credit_id"": ""52fe420ec3a36847f800076b"", ""de...","[{""credit_id"": ""52fe420ec3a36847f8000809"", ""de...","[{""credit_id"": ""52fe420ec3a36847f8000981"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000c09"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000c55"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000d1d"", ""de...","[{""credit_id"": ""52fe420fc3a36847f8000f11"", ""de...",...,"[{""credit_id"": ""572bd470c3a368013d0002b1"", ""de...","[{""credit_id"": ""57edab3b9251416cd600077f"", ""de...","[{""credit_id"": ""5843fb6fc3a3684813007fb4"", ""de...","[{""credit_id"": ""57d568c49251415c1b001ba2"", ""de...","[{""credit_id"": ""5961020d9251410a590bd228"", ""de...","[{""credit_id"": ""582a4cdb9251417b1803dd47"", ""de...","[{""credit_id"": ""582e0bdfc3a368772600b6c1"", ""de...","[{""credit_id"": ""58713acfc3a3684f0a00a9ac"", ""de...",[],"[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de..."

In [42]:
encoded_data_df['keywords'][0]

'[{"id": 612, "name": "hotel"}, {"id": 613, "name": "new year\'s eve"}, {"id": 616, "name": "witch"}, {"id": 622, "name": "bet"}, {"id": 922, "name": "hotel room"}, {"id": 2700, "name": "sperm"}, {"id": 12670, "name": "los angeles"}, {"id": 160488, "name": "hoodlum"}, {"id": 187056, "name": "woman director"}, {"id": 198129, "name": "episode film"}]'

In [46]:
encoded_data_df['keywords'] =data_df['keywords'].apply(lambda x: [item['name'] for item in json.loads(x)][:3] if pd.notna(x) else 'none')
encoded_data_df['keywords'][0]

['hotel', "new year's eve", 'witch']

In [ ]:
encoded_data_df['production_companies'][0]

'[{"name": "Miramax Films", "id": 14}, {"name": "A Band Apart", "id": 59}]'

In [48]:
encoded_data_df['production_companies'] =data_df['production_companies'].apply(lambda x: [item['name'] for item in json.loads(x)][:3] if pd.notna(x) else 'none')
encoded_data_df['production_companies'][0]

['Miramax Films', 'A Band Apart']

In [50]:
encoded_data_df['spoken_languages'][0]

'[{"iso_639_1": "en", "name": "English"}]'

In [51]:
encoded_data_df['spoken_languages'] = data_df['spoken_languages'].apply(lambda x: [item['name'] for item in json.loads(x)][:3] if pd.notna(x) else 'none')
encoded_data_df['spoken_languages'][0]

['English']

In [52]:
encoded_data_df['crew'][0]

'[{"credit_id": "52fe420dc3a36847f800012d", "department": "Directing", "gender": 1, "id": 3110, "job": "Director", "name": "Allison Anders"}, {"credit_id": "52fe420dc3a36847f80001c9", "department": "Writing", "gender": 1, "id": 3110, "job": "Writer", "name": "Allison Anders"}, {"credit_id": "52fe420dc3a36847f8000133", "department": "Directing", "gender": 2, "id": 3111, "job": "Director", "name": "Alexandre Rockwell"}, {"credit_id": "52fe420dc3a36847f8000151", "department": "Production", "gender": 2, "id": 3111, "job": "Executive Producer", "name": "Alexandre Rockwell"}, {"credit_id": "52fe420dc3a36847f80001cf", "department": "Writing", "gender": 2, "id": 3111, "job": "Writer", "name": "Alexandre Rockwell"}, {"credit_id": "52fe420dc3a36847f8000139", "department": "Directing", "gender": 0, "id": 2294, "job": "Director", "name": "Robert Rodriguez"}, {"credit_id": "52fe420dc3a36847f80001d5", "department": "Writing", "gender": 0, "id": 2294, "job": "Writer", "name": "Robert Rodriguez"}, {"credit_id": "52fe420dc3a36847f800020b", "department": "Editing", "gender": 0, "id": 2294, "job": "Editor", "name": "Robert Rodriguez"}, {"credit_id": "52fe420dc3a36847f800013f", "department": "Directing", "gender": 2, "id": 138, "job": "Director", "name": "Quentin Tarantino"}, {"credit_id": "52fe420dc3a36847f800014b", "department": "Production", "gender": 2, "id": 138, "job": "Executive Producer", "name": "Quentin Tarantino"}, {"credit_id": "52fe420dc3a36847f80001db", "department": "Writing", "gender": 2, "id": 138, "job": "Writer", "name": "Quentin Tarantino"}, {"credit_id": "52fe420dc3a36847f800011b", "department": "Sound", "gender": 0, "id": 3116, "job": "Original Music Composer", "name": "Combustible Edison"}, {"credit_id": "52fe420dc3a36847f8000121", "department": "Art", "gender": 2, "id": 3117, "job": "Production Design", "name": "Gary Frutkoff"}, {"credit_id": "52fe420dc3a36847f8000127", "department": "Sound", "gender": 0, "id": 3119, "job": "Sound Designer", "name": "Lance Brown"}, {"credit_id": "52fe420dc3a36847f8000145", "department": "Production", "gender": 2, "id": 2545, "job": "Producer", "name": "Lawrence Bender"}, {"credit_id": "557ddf5dc3a36821930003fa", "department": "Production", "gender": 0, "id": 37333, "job": "Co-Producer", "name": "Heidi Vogel"}, {"credit_id": "557ddf469251410a2f000305", "department": "Production", "gender": 2, "id": 37334, "job": "Co-Producer", "name": "Paul Hellerman"}, {"credit_id": "59a176c2c3a368478f02876d", "department": "Production", "gender": 2, "id": 37334, "job": "Production Manager", "name": "Paul Hellerman"}, {"credit_id": "557ddf50c3a368219c000320", "department": "Production", "gender": 0, "id": 37335, "job": "Co-Producer", "name": "Scott Lambert"}, {"credit_id": "52fe420dc3a36847f8000157", "department": "Production", "gender": 2, "id": 3118, "job": "Casting", "name": "Russell Gray"}, {"credit_id": "52fe420dc3a36847f800015d", "department": "Art", "gender": 2, "id": 11423, "job": "Art Direction", "name": "Mayne Berke"}, {"credit_id": "52fe420dc3a36847f8000163", "department": "Art", "gender": 1, "id": 9042, "job": "Set Decoration", "name": "Sara Andrews"}, {"credit_id": "52fe420dc3a36847f8000205", "department": "Editing", "gender": 1, "id": 156, "job": "Editor", "name": "Sally Menke"}, {"credit_id": "52fe420dc3a36847f80001e7", "department": "Camera", "gender": 2, "id": 3113, "job": "Director of Photography", "name": "Guillermo Navarro"}, {"credit_id": "52fe420dc3a36847f80001f3", "department": "Camera", "gender": 2, "id": 3115, "job": "Director of Photography", "name": "Andrzej Sekula"}, {"credit_id": "5636073cc3a3681b52019f3b", "department": "Sound", "gender": 0, "id": 6940, "job": "Music Supervisor", "name": "Karyn Rachtman"}, {"credit_id": "52fe420dc3a36847f80001ff", "department": "Editing", "gender": 0, "id": 3121, "job": "Editor", "name": "Elena Maganini"}, {"credit_id": "52fe420dc3a36847f80001ed", "department": "Camera", "gender": 2, "id": 3114, "job": "Director of Photography", "name": "Phil Parmet"}, {"credit_id": "59a1702992514177810295da", "department": "Production", "gender": 1, "id": 20540, "job": "Casting Associate", "name": "Randi Hiller"}, {"credit_id": "59a164d2c3a36847d40275e2", "department": "Costume & Make-Up", "gender": 1, "id": 46589, "job": "Costume Design", "name": "Mary Claire Hannan"}, {"credit_id": "59a16bb0c3a36847e50280c3", "department": "Camera", "gender": 2, "id": 56791, "job": "Steadicam Operator", "name": "Jonathan Brown"}, {"credit_id": "59a164b7925141779f028e8d", "department": "Costume & Make-Up", "gender": 0, "id": 62277, "job": "Costume Design", "name": "Susan L. Bertram"}, {"credit_id": "59a16fb892514177a702981b", "department": "Editing", "gender": 0, "id": 64315, "job": "First Assistant Editor", "name": "Erik C. Andersen"}, {"credit_id": "59a16f12925141779f02989c", "department": "Production", "gender": 0, "id": 64744, "job": "Unit Production Manager", "name": "Debbie Hayn-Cass"}, {"credit_id": "59a176d5925141779302abba", "department": "Production", "gender": 0, "id": 64744, "job": "Production Supervisor", "name": "Debbie Hayn-Cass"}, {"credit_id": "59a16f3fc3a36847d4027fa6", "department": "Directing", "gender": 2, "id": 71901, "job": "First Assistant Director", "name": "Douglas Aarniokoski"}, {"credit_id": "52fe420dc3a36847f80001e1", "department": "Camera", "gender": 2, "id": 77162, "job": "Director of Photography", "name": "Rodrigo Garc\\u00eda"}, {"credit_id": "59a17786925141779302ac86", "department": "Sound", "gender": 0, "id": 80824, "job": "Sound Editor", "name": "Jay Nierenberg"}, {"credit_id": "59a177fbc3a36847c502c7f2", "department": "Crew", "gender": 2, "id": 100888, "job": "Creative Consultant", "name": "Chuck Jones"}, {"credit_id": "59a16cb6c3a368481e0297fd", "department": "Costume & Make-Up", "gender": 0, "id": 144146, "job": "Key Hair Stylist", "name": "Ermahn Ospina"}, {"credit_id": "59a16b70c3a368480e027bef", "department": "Camera", "gender": 0, "id": 148455, "job": "First Assistant Camera", "name": "Ziad Doueiri"}, {"credit_id": "52fe420dc3a36847f80001f9", "department": "Editing", "gender": 1, "id": 1041072, "job": "Editor", "name": "Margaret Goodspeed"}, {"credit_id": "59a16f62c3a368480e027f71", "department": "Directing", "gender": 0, "id": 1120536, "job": "First Assistant Director", "name": "Fernando Altschul"}, {"credit_id": "59a16f78925141774b02aff4", "department": "Directing", "gender": 0, "id": 1342669, "job": "Script Supervisor", "name": "Jayne-Ann Tenggren"}, {"credit_id": "59a176fbc3a368483002926e", "department": "Sound", "gender": 0, "id": 1357671, "job": "First Assistant Sound Editor", "name": "Tim Tuchrello"}, {"credit_id": "59a16565925141774b02a597", "department": "Art", "gender": 0, "id": 1395016, "job": "Construction Coordinator", "name": "Brian Markey"}, {"credit_id": "59a17039925141774f02926e", "department": "Production", "gender": 0, "id": 1401374, "job": "Location Manager", "name": "Robert Earl Craft"}, {"credit_id": "59a176ae925141779f029f6e", "department": "Production", "gender": 0, "id": 1402054, "job": "Production Coordinator", "name": "Dawn Todd Curfman"}, {"credit_id": "59a1776dc3a368480e02872e", "department": "Sound", "gender": 0, "id": 1410954, "job": "Production Sound Mixer", "name": "Pawel Wdowczak"}, {"credit_id": "59a1779bc3a36847c502c783", "department": "Sound", "gender": 0, "id": 1412227, "job": "Sound Effects Editor", "name": "Glenn Hoskinson"}, {"credit_id": "59a17819c3a36847d4028802", "department": "Sound", "gender": 0, "id": 1412242, "job": "Dolby Consultant", "name": "Thom \'Coach\' Ehle"}, {"credit_id": "59a17751925141779a02a7f7", "department": "Sound", "gender": 0, "id": 1415642, "job": "Music Editor", "name": "Denise Okimoto"}, {"credit_id": "59a16f01c3a368480e027f13", "department": "Crew", "gender": 0, "id": 1419160, "job": "Transportation Coordinator", "name": "P. Gerald Knight"}, {"credit_id": "59a177b4c3a368481e02a239", "department": "Sound", "gender": 0, "id": 1438571, "job": "Supervising Sound Editor", "name": "Bruce Fortune"}, {"credit_id": "59a16bd5c3a36848300287da", "department": "Costume & Make-Up", "gender": 0, "id": 1547239, "job": "Costume Supervisor", "name": "Jacqueline Aronson"}, {"credit_id": "59a16578925141779a02967e", "department": "Art", "gender": 0, "id": 1549015, "job": "Construction Foreman", "name": "Ray Maxwell"}, {"credit_id": "59a16df2925141779a029ec7", "department": "Art", "gender": 0, "id": 1552012, "job": "Property Master", "name": "Lynda Reiss"}, {"credit_id": "59a177d3c3a368478f02885c", "department": "Crew", "gender": 0, "id": 1552088, "job": "Special Sound Effects", "name": "Victor Iorillo"}, {"credit_id": "59a165419251417781028b8d", "department": "Art", "gender": 0, "id": 1556697, "job": "Art Department Coordinator", "name": "Marisol Jim\\u00e9nez"}, {"credit_id": "59a16f8bc3a368481e029acf", "department": "Editing", "gender": 0, "id": 1564233, "job": "Color Timer", "name": "Mike Stanwick"}, {"credit_id": "59a16fcc925141775b029c36", "department": "Lighting", "gender": 0, "id": 1601800, "job": "Best Boy Electric", "name": "Edgar Arellano"}, {"credit_id": "59a16e6c925141774f0290ae", "department": "Crew", "gender": 0, "id": 1602889, "job": "Special Effects Coordinator", "name": "Paul Taglianetti"}, {"credit_id": "59a16f2792514177a70297a5", "department": "Crew", "gender": 0, "id": 1622121, "job": "Unit Publicist", "name": "Nancy Willen"}, {"credit_id": "59a16dc5925141774f02900a", "department": "Crew", "gender": 0, "id": 1686379, "job": "Driver", "name": "Darrell Dubovsky"}, {"credit_id": "59a176e4925141779302abcb", "department": "Sound", "gender": 2, "id": 1695796, "job": "Boom Operator", "name": "Paul Koronkiewicz"}, {"credit_id": "59a16b87c3a368480e027c0b", "department": "Camera", "gender": 0, "id": 1708344, "job": "Key Grip", "name": "Rick Stribling"}, {"credit_id": "59a16ca0c3a36847c502bb99", "department": "Costume & Make-Up", "gender": 0, "id": 1745153, "job": "Hairstylist", "name": "Orlando"}, {"credit_id": "59a16d97c3a36847d4027e0a", "department": "Crew", "gender": 0, "id": 1851724, "job": "Carpenter", "name": "James C. Beeson"}, {"credit_id": "59a165efc3a36847d40276fd", "department": "Art", "gender": 0, "id": 1851725, "job": "Painter", "name": "Carlos A. Chavez"}, {"credit_id": "59a165c8c3a36847e5027b38", "department": "Art", "gender": 0, "id": 1877352, "job": "Lead Painter", "name": "Marc Gillson"}, {"credit_id": "59a16645c3a36847e5027bb2", "department": "Art", "gender": 0, "id": 1877353, "job": "Standby Painter", "name": "T.D. Donnelly"}, {"credit_id": "59a16b9d925141774f028e18", "department": "Camera", "gender": 0, "id": 1877355, "job": "Grip", "name": "Elizabeth Bolden"}, {"credit_id": "59a16becc3a368481e029726", "department": "Costume & Make-Up", "gender": 0, "id": 1877356, "job": "Costume Supervisor", "name": "Thomas G. Marquez"}, {"credit_id": "59a16d7d925141779a029e54", "department": "Costume & Make-Up", "gender": 0, "id": 1877357, "job": "Makeup Artist", "name": "Paul Starr"}, {"credit_id": "59a16daac3a36847e5028254", "department": "Crew", "gender": 0, "id": 1877359, "job": "Choreographer", "name": "Sissy Boyd"}, {"credit_id": "59a16db892514177a7029629", "department": "Crew", "gender": 0, "id": 1877360, "job": "Craft Service", "name": "Derek Hurd"}, {"credit_id": "59a16de4925141779f02977a", "department": "Crew", "gender": 0, "id": 1877361, "job": "Post Production Assistant", "name": "Ben Parker"}, {"credit_id": "59a16e58c3a36847e50282f4", "department": "Crew", "gender": 0, "id": 1877361, "job": "Set Production Assistant", "name": "Ben Parker"}, {"credit_id": "59a16e29c3a36848300289fb", "department": "Crew", "gender": 0, "id": 1877363, "job": "Security", "name": "Nick Roberts"}, {"credit_id": "59a16e45c3a368480e027e51", "department": "Crew", "gender": 0, "id": 1877365, "job": "Set Medic", "name": "Patrice Carbaugh"}, {"credit_id": "59a16edac3a36847f602927f", "department": "Crew", "gender": 0, "id": 1877369, "job": "Stand In", "name": "Michael Boyce Harris"}, {"credit_id": "59a16eeec3a36847c502be1c", "department": "Crew", "gender": 0, "id": 1877370, "job": "Transportation Captain", "name": "Dotti Thompson"}, {"credit_id": "59a16faac3a36847f6029352", "department": "Editing", "gender": 0, "id": 1877377, "job": "First Assistant Editor", "name": "Bob Allen"}, {"credit_id": "59a1700a925141779302a4ab", "department": "Lighting", "gender": 0, "id": 1877378, "job": "Electrician", "name": "Marcel DeJure"}, {"credit_id": "59a17018c3a3684830028c07", "department": "Lighting", "gender": 0, "id": 1877379, "job": "Gaffer", "name": "Chuck Smith"}, {"credit_id": "59a1704a925141774b02b0c1", "department": "Production", "gender": 0, "id": 1877380, "job": "Production Accountant", "name": "Deborah Hebert"}, {"credit_id": "59a17735c3a36847d4028704", "department": "Sound", "gender": 0, "id": 1877413, "job": "Foley", "name": "David Gertz"}, {"credit_id": "59a177e7925141779a02a87a", "department": "Crew", "gender": 0, "id": 1877415, "job": "Studio Teachers", "name": "Jan D. Tys"}]'

In [53]:
encoded_data_df['crew'] = data_df['crew'].apply(lambda x: [item['name'] for item in json.loads(x)][:3] if pd.notna(x) else 'none')
encoded_data_df['crew'][0]

['Allison Anders', 'Allison Anders', 'Alexandre Rockwell']

In [54]:
encoded_data_df.head().T

,0,1,2,3,4
budget,4000000,11000000,94000000,55000000,15000000
genres,"[Crime, Comedy]","[Adventure, Action, Science Fiction]","[Animation, Family]","[Comedy, Drama, Romance]",[Drama]
homepage,NaN,http://www.starwars.com/films/star-wars-episod...,http://movies.disney.com/finding-nemo,NaN,http://www.dreamworks.com/ab/
id,5,11,12,13,14
keywords,"[hotel, new year's eve, witch]","[android, galaxy, hermit]","[father son relationship, harbor, underwater]","[vietnam veteran, hippie, mentally disabled]","[male nudity, female nudity, adultery]"
original_language,en,en,en,en,en
title,Four Rooms,Star Wars,Finding Nemo,Forrest Gump,American Beauty
overview,It's Ted the Bellhop's first night on the job....,Princess Leia is captured and held hostage by ...,"Nemo, an adventurous young clownfish, is unexp...",A man with a low IQ has accomplished great thi...,"Lester Burnham, a depressed suburban father in..."
popularity,22.87623,126.393695,85.688789,138.133331,80.878605
production_companies,"[Miramax Films, A Band Apart]","[Lucasfilm, Twentieth Century Fox Film Corpora...",[Pixar Animation Studios],[Paramount Pictures],"[DreamWorks SKG, Jinks/Cohen Company]"
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,1995-12-09,1977-05-25,2003-05-30,1994-07-06,1999-09-15
revenue,4300000,775398007,940335536,677945399,356296601
runtime,98.0,121.0,100.0,142.0,122.0
spoken_languages,[English],[English],[English],[English],[English]
status,Released,Released,Released,Released,Released
tagline,Twelve outrageous guests. Four scandalous requ...,"A long time ago in a galaxy far, far away...","There are 3.7 trillion fish in the ocean, they...","The world will never be the same, once you've ...",Look closer.
vote_average,6.5,8.1,7.6,8.2,7.9
vote_count,530,6624,6122,7927,3313
cast,"[Tim Roth, Antonio Banderas, Jennifer Beals]","[Mark Hamill, Harrison Ford, Carrie Fisher]","[Albert Brooks, Ellen DeGeneres, Alexander Gould]","[Tom Hanks, Robin Wright, Gary Sinise]","[Kevin Spacey, Annette Bening, Thora Birch]"
crew,"[Allison Anders, Allison Anders, Alexandre Roc...","[George Lucas, George Lucas, George Lucas]","[Andrew Stanton, Andrew Stanton, Andrew Stanton]","[Alan Silvestri, Robert Zemeckis, Winston Groom]","[Thomas Newman, Sam Mendes, Alan Ball]"

#### 2.1.2 convert 'Overview' feature to a list

In [55]:
encoded_data_df['overview']=data_df['overview'].apply(lambda x: [x if pd.notna(x) else 'none'])
encoded_data_df['overview'][0]

["It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another."]

In [57]:
encoded_data_df.head(3).T

,0,1,2
budget,4000000,11000000,94000000
genres,"[Crime, Comedy]","[Adventure, Action, Science Fiction]","[Animation, Family]"
homepage,NaN,http://www.starwars.com/films/star-wars-episod...,http://movies.disney.com/finding-nemo
id,5,11,12
keywords,"[hotel, new year's eve, witch]","[android, galaxy, hermit]","[father son relationship, harbor, underwater]"
original_language,en,en,en
title,Four Rooms,Star Wars,Finding Nemo
overview,[It's Ted the Bellhop's first night on the job...,[Princess Leia is captured and held hostage by...,"[Nemo, an adventurous young clownfish, is unex..."
popularity,22.87623,126.393695,85.688789
production_companies,"[Miramax Films, A Band Apart]","[Lucasfilm, Twentieth Century Fox Film Corpora...",[Pixar Animation Studios]
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,1995-12-09,1977-05-25,2003-05-30
revenue,4300000,775398007,940335536
runtime,98.0,121.0,100.0
spoken_languages,[English],[English],[English]
status,Released,Released,Released
tagline,Twelve outrageous guests. Four scandalous requ...,"A long time ago in a galaxy far, far away...","There are 3.7 trillion fish in the ocean, they..."
vote_average,6.5,8.1,7.6
vote_count,530,6624,6122
cast,"[Tim Roth, Antonio Banderas, Jennifer Beals]","[Mark Hamill, Harrison Ford, Carrie Fisher]","[Albert Brooks, Ellen DeGeneres, Alexander Gould]"
crew,"[Allison Anders, Allison Anders, Alexandre Roc...","[George Lucas, George Lucas, George Lucas]","[Andrew Stanton, Andrew Stanton, Andrew Stanton]"

#### 2.1.3 Combine and encode features

In [60]:
encoded_data_df["tags"]=encoded_data_df["overview"] + encoded_data_df["cast"] + encoded_data_df["genres"] + encoded_data_df["keywords"] 
encoded_data_df["tags"]=encoded_data_df["tags"].apply(lambda x: ', '.join(x))
encoded_data_df["tags"][0]

"It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another., Tim Roth, Antonio Banderas, Jennifer Beals, Crime, Comedy, hotel, new year's eve, witch"

### 2.2 Feature selection

In [62]:
tags = encoded_data_df["tags"]
print(tags[0])

It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another., Tim Roth, Antonio Banderas, Jennifer Beals, Crime, Comedy, hotel, new year's eve, witch

## 3. Model Training

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

vectorizer=TfidfVectorizer()
tfidf_matrix=vectorizer.fit_transform(tags)
print(tfidf_matrix[0])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 48 stored elements and shape (1, 25748)>
  Coords	Values
  (0, 12096)	0.1565104009948833
  (0, 22880)	0.18588996900413085
  (0, 23051)	0.09346761493199393
  (0, 2386)	0.23878809842980947
  (0, 8756)	0.1092159946038139
  (0, 16094)	0.11916095725422207
  (0, 16517)	0.05598935047287782
  (0, 12368)	0.12469026510440573
  (0, 1118)	0.03517877443636785
  (0, 11105)	0.2850594717632179
  (0, 24499)	0.12840795574863212
  (0, 24212)	0.1723946991034821
  (0, 10123)	0.18790453946328864
  (0, 1398)	0.0768830607479857
  (0, 403)	0.09643929326308162
  (0, 23296)	0.03459285168233992
  (0, 17586)	0.13271585486253826
  (0, 10836)	0.07977852678403118
  (0, 11541)	0.04114055815170533
  (0, 21485)	0.12000788746746673
  (0, 16744)	0.17905817198606314
  (0, 17950)	0.22776582909393336
  (0, 20495)	0.13530679166880422
  (0, 23048)	0.06195349104052079
  (0, 23122)	0.0907812179692401
  (0, 8024)	0.18401444877667442
  (0, 19756)	0.15947065723388304
  (0, 20623)	0.15355200521748502
  (0, 12059)	0.048901164395275594
  (0, 20628)	0.18226001677181825
  (0, 24227)	0.08249509875800476
  (0, 16519)	0.08143390777135116
  (0, 23941)	0.2138794119985476
  (0, 10377)	0.19503671811255052
  (0, 702)	0.07962229496880045
  (0, 1217)	0.12616004256038454
  (0, 23251)	0.14500273644638162
  (0, 19803)	0.19008044132193921
  (0, 1258)	0.16906184557729156
  (0, 2013)	0.17619402422655345
  (0, 12272)	0.12531046526003267
  (0, 2227)	0.22776582909393336
  (0, 5486)	0.0804125907714298
  (0, 4776)	0.055761729732479094
  (0, 16028)	0.07818122967349675
  (0, 25528)	0.1028508916406651
  (0, 8020)	0.15355200521748502
  (0, 25273)	0.15296737492107282

In [66]:
model=NearestNeighbors(n_neighbors=5, algorithm="brute", metric="cosine")
fit_result=model.fit(tfidf_matrix)

## 4. Movie recommender function

In [69]:
def get_movie_recommendations(movie_title):
  
    movie_index = encoded_data_df[encoded_data_df["title"] == movie_title].index[0]

    distances, indices = model.kneighbors(tfidf_matrix[movie_index])
   
    similar_movies = [(encoded_data_df["title"][i], distances[0][j]) for j, i in enumerate(indices[0])]
    
    return similar_movies[1:]

In [70]:
input_movie = "How to Train Your Dragon"
recommendations = get_movie_recommendations(input_movie)
print("Film recommendations '{}'".format(input_movie))
for movie, distance in recommendations:
    print("- Film: {}".format(movie))

Film recommendations 'How to Train Your Dragon'
- Film: How to Train Your Dragon 2
- Film: Dragon Nest: Warriors' Dawn
- Film: Pete's Dragon
- Film: Eragon

## 5. Model Deployment

In [71]:
import pickle

# Save the assets
pickle.dump(model, open("../models/model.pkl", "wb"))
pickle.dump(tfidf_matrix, open("../data/tfidf_matrix.pkl", "wb"))
pickle.dump(encoded_data_df, open("../data/encoded_features_df.pkl", "wb"))